<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>xplorit</title>
		<base href="/" />
		<meta name="color-scheme" content="light dark" />
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />

		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon.png">
		<link rel="icon" type="image/x-icon" href="/img/favicon.png">

		<meta http-equiv="x-ua-compatible" content="IE=Edge">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-title" content="xplorit" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
		<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
		<link href="css/variables.css" rel="stylesheet">
	</head>

	<body>
		<ion-app>
			<ion-header translucent>
				<ion-toolbar>
					<ion-title>Leaderboard</ion-title>
				</ion-toolbar>
			</ion-header>

			<ion-content fullscreen>
				<ion-header collapse="condense">
					<ion-toolbar>
						<ion-title size="large">Leaderboard</ion-title>
					</ion-toolbar>
				</ion-header>

				<ion-list>
					<ion-list-header>
						Top 10 players
					</ion-list-header>
					<% for (let i = 0; i < leaderboard.length; i++) { %>
						<ion-item>
							<h1 slot="start"><%= leaderboard[i].idx %></h2>
							<ion-label>
								<h2><%= leaderboard[i].nick %></h2>
								<h3><%= leaderboard[i].points %></h3>
							</ion-label>
						</ion-item>
					<% } %>
				</ion-list>

				<ion-button onclick="window.location.replace('/')">main menu</ion-button>
			</ion-content>
		</ion-app>
	</body>
</html>